{% extends 'base.html' %}

{% block content %}
<div class="max-w-3xl mx-auto mt-12 px-4 text-zinc-800">
  <h1 class="text-3xl font-bold mb-4">About</h1>
  <p class="mb-4">
    The Music Innovations Studies Centre's (MISC) Booking System allows students and staff to borrow media equipment and tools managed by the MISC.
    Our mission is to ensure fair access to resources while maintaining smooth coordination across departments.
  </p>
  <hr>

  <p>
    v2.1. For feedback and questions, contact <a href="mailto:misc@lmta" class="text-blue-600 hover:underline">misc@lmta.lt</a>
  </p>
  <p>
    Bug reports <a href="https://github.com/iorobertob/booking/issues">here.<a>
  </p>
</div>

{% endblock %}