<!-- CALENDAR INTERFACE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<form method="post" action="{{ url_for('book_item',item_id=item.id) }}" id="booking_form">
    <h1>Add Item to Cart</h1>
    {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if message %}
            <ul>
                <li>
                <div class="alert alert-{{category}}">{{ message }}</div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

    <label for="borrow_date">Borrow Date:</label>
    <input type="date" id="borrow_date" name="borrow_date" class="datepicker" required><br>
    <!-- <input type="date" id="borrow_date" name="borrow_date" required><br> -->
    <label for="return_date">Return Date:</label>
    <!-- <input type="date" id="return_date" name="return_date" required><br>        -->
    <input type="text" id="return_date" name="return_date" class="datepicker" required><br>
    
    <input type="hidden" id="itemsJSON" name="itemsJSON" value="">
    <input type="hidden" name="action" id="formAction" value="">
    
    <button type="button" class="booking" onclick="submitForm('book', this.form)" class="btn btn-primary">Book Selected</button>
    <button type="button" class="booking" onclick="submitForm('add_to_cart', this.form)" class="btn btn-secondary">Add to Cart</button>
</form>


<script>
    // Example disabled dates: ["2023-01-01", "2023-01-02"]
    var disabledDates = {{ booked_dates|tojson }}; // Ensure you pass this from Flask

    var returnDatePicker = flatpickr(".datepicker", {
        "disable": disabledDates,
        "dateFormat": "Y-m-d",
    });

    flatpickr(".datepicker", {
        "disable": disabledDates,
        "dateFormat": "Y-m-d",
        onChange: function(selectedDates, dateStr, instance) {
            // Update the minDate for the return date picker
            returnDatePicker.set("minDate", dateStr);
        }
    });

    function updateReturnDatePickerMinDate(dateStr) {
        returnDatePicker.set("minDate", dateStr);
    }

    function submitForm(actionType, form) {
        // Set the action type in the hidden input
        document.getElementById('formAction').value = actionType;

        var isValidForm = form.checkValidity();
        if (isValidForm)
        {
            var returndate = document.getElementById('return_date').value
            console.log(returndate);

            var input = document.getElementById('return_date');
            console.log(input.checkValidity());
            input.setCustomValidity("p");
            if(input.checkValidity()) {
                console.log("returndate");
                input.setCustomValidity("watch me break");
                input.reportValidity();
            }
            //document.forms['booking_form'].submit();
        }
        else
        {
            // document.getElementById('booking_form').reportValidity();
            return false;
        }
        
        // Set form action based on the actionType
        // var form = document.getElementById('booking_form');

        if (actionType === 'book') {
            form.action = "{{ url_for('book_item',item_id=item.id) }}";
        } else if (actionType === 'add_to_cart') {

            form.action = "{{ url_for('item_details',item_id=item.id) }}";

            var itemsJSON = [];

            var borrowing_date  = document.getElementById("borrow_date").value;
            var returning_date  = document.getElementById("return_date").value

            item = JSON.parse({{item_for_cart |tojson|safe}});           

            itemsJSON.push({id         : item.id,
                            name       : item.name,
                            location   : item.location,
                            borrow_date: borrowing_date,
                            return_date: returning_date});


            document.getElementById("itemsJSON").value = JSON.stringify(itemsJSON);
        }
        // Submit the form
        form.submit();
    }

    
</script>