<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ subject or "MISC Booking Email" }}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0; padding: 0;
    }
    .container {
      width: 100%;
      max-width: 640px;
      margin: auto;
      background: #fff;
      padding: 20px;
    }
    .footer {
      text-align: center;
      font-size: 12px;
      color: #999;
      padding: 20px 0;
      background: #383e56;
      color: white;
    }
    h1 { margin: 0; font-size: 24px; }
    p  { font-size: 14px; }
  </style>
</head>
<body>
  <div class="container">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center">
                <a href="https://misc.lmta.lt/booking">
                    <div style="height:100%;width:100%">                                            
                        <img src="https://misc.lmta.lt/booking/assets/images/misc_logo_alpha.png" alt="Logo" width="220" height="auto" class="logo">
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 30px;">
                <img src="https://misc.lmta.lt/booking/assets/images/invoice-order-icon.png" width="80" alt="Booking Icon" />
                <h1 style="font-size: 24px; margin: 20px 0;">Booking Confirmation</h1>
                <p style="font-size: 16px;">Here’s what you booked. This request must be approved by the administrator.</p>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px;">
                <table width="100%" cellpadding="10" cellspacing="0" border="0" style="background: #f9f9f9;">
                    <thead>
                        <tr style="font-weight: bold; text-align: left;">
                            <td>Item</td>
                            <td>Dates</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.borrow_date.strftime('%Y-%m-%d') }} to {{ item.return_date.strftime('%Y-%m-%d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px;">
                <strong>Borrower:</strong><br>
                {{ borrower_name }}<br><br>
                <strong>Contact:</strong><br>
                {{ borrower_email }}<br>
                {{ borrower_phone }}<br>
                Account Email: {{ user_email }}
            </td>
        </tr>
    </table>
    <div class="footer">
        © {{ now.year }} MISC.LMTA <br>
        Gedimino pr. 42, Vilnius, Lithuania
      </div>
  </div>
  
</body>
</html>