<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MISC Booking</title>
    <!-- Include DataTables CSS and jQuery -->

    <!-- BOOTSTRAP -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- DATATABLES -->
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/ju/dt-1.13.8/r-2.5.0/datatables.min.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="{{ url_for('custom_static', filename='css/booking.css') }}" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('custom_static', filename='images/misc_logo_alpha.png') }}"  alt="MISC Logo"> <!-- Adjust the path to your image -->
            <h1>Music Innovation Studies Centre's Booking System</h1>
        </div>
        <hr>
        {% for category, message in get_flashed_messages(with_categories=True) %}
            {% if message %}
                <ul>
                        <li>
                        <div class="alert alert-{{category}}">{{ message }}</div>
                        </li>
                </ul>
            {% endif %}
        {% endfor %}
        {% if current_user.is_authenticated %}
            <p>Welcome, {{ current_user.username }}! <a href="{{ url_for('logout') }}" class="btn btn-primary booking" style="background-color: #34495e; border: none;">Logout</a></p>
        {% else %}
            <p>Welcome. <a href="{{ url_for('login') }}" class="btn btn-primary me-2 booking" style="background-color: #34495e; border: none;">Login</a></p>

        {% endif %}
            <div class="mb-3 d-flex justify-content-end">
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for('edit_item', item_id='1') }}" onclick="bookSelectedItems('delete')" class="btn btn-primary booking" style="background-color: #34495e; border: none; margin:10px ;">Delete Selected</a>
                {% endif %}
                <a href="javascript:void(0);" onclick="bookSelectedItems('book')" class="btn btn-primary booking" style="background-color: #34495e; border: none; margin:10px ;">Book Selected</a>
            </div>
            <table id="bookingTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Borrower</th>
                        <th>Borrower Email</th>
                        <th>Borrow Date</th>
                        <th>Return Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><input class="form-check-input item-checkbox" type="checkbox" value="{{item.id}}" id="checkbox_{{item.id}}"></td>
                            <td><a href="{{url_for('item_details',item_id=item.id)}}"> {{ item.name }}</a></td>
                            <td>{{ item.location }}</td>
                            <td>{{ availability[loop.index-1] }}</td>
                            <td>{{ bookings[loop.index-1].borrower_name }}</td>
                            <td>{{ bookings[loop.index-1].borrower_contact }}</td>
                            <td>{{ bookings[loop.index-1].borrow_date.strftime('%Y-%m-%d') if bookings[loop.index-1].borrow_date else '' }}</td>
                            <td>{{ bookings[loop.index-1].return_date.strftime('%Y-%m-%d') if bookings[loop.index-1].return_date else '' }}</td>
                            <td>
                                <a href="{{ url_for('book_item', item_id=item.id) }}">Book</a>
                            {% if current_user.is_admin %}
                                | <a href="{{ url_for('delete_item', item_id=item.id) }}">Delete</a>
                                | <a href="{{ url_for('edit_item', item_id=item.id) }}">Edit</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if current_user.is_admin %}
                <p><a href="{{ url_for('add_item') }}">Add Item</a></p>
                <p><a href="{{ url_for('admin_page') }}">Admin Page</a></p>
            {% endif %}
    </div>

    <!-- Include jQuery and DataTables JavaScript at the end of the body for faster loading -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/v/ju/dt-1.13.8/r-2.5.0/datatables.min.js"></script> 
    <script>
        $(document).ready(function() {
            $('#bookingTable').dataTable({
                responsive:true,
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                }
            });
        });

        function bookSelectedItems(action) {
            // Collect all checked checkboxes.
            let checkedBoxes = document.querySelectorAll('.item-checkbox:checked');
            
            // Extract the value (item ID) from each checked checkbox.
            let selectedIds = Array.from(checkedBoxes).map(box => box.value);
            
            // Convert the array of IDs into a comma-separated string to pass as a query parameter.
            let idsQueryParam = selectedIds.join('&items=');
            // idsQueryParam="[(2),(5),(6)]"

            // Redirect to the book_bulk route with the selected item IDs as a query parameter.
            // Adjust this URL as needed for your app's routing structure.
            if (action == 'book'){
                window.location.href = "{{ url_for('book_bulk') }}?&items=" + idsQueryParam + "&action=book";
                console.log(idsQueryParam)
            }
            else{
                window.location.href = "{{ url_for('book_bulk') }}?&items=" + idsQueryParam + "&action=delete";
            }
            
        }
    </script>
    <script>

</script>

</body>
</html>
