{% extends 'base.html' %}

{% block content %}

        <h1>{{item.name}}</h1>

        <hr>
        

        <div class="mb-3 d-flex justify-content-end">
            {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="{{ url_for('edit_item', item_id=item.id) }}" class="btn btn-primary me-2" style="background-color: #34495e; border: none">Edit</a>
            {% endif %}
            <a class="btn btn-primary booking" id="add_to_cart" style="color:#fff; background-color: #34495e; border: none;">Add to Cart</a>
            &nbsp;&nbsp;

            <a class="btn btn-primary booking" id="booking_button" style="color:#fff; background-color: #34495e; border: none;">Book</a>
            &nbsp;&nbsp;
            
        </div>
            <h3>Future Bookings:</h3>
            
            <table name="bookingTable" id="bookingTable">
                <thead>
                    <tr>
                        <th>Borrower</th>
                        <th>Borrow Date</th>
                        <th>Return Date</th>
                        <th>Borrower Email</th>
                        <th>Status</th>
                        {% if current_user.is_admin %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.borrower_name }}</td>
                            <td>{{ booking.borrow_date.strftime('%Y-%m-%d') if booking.borrow_date else '' }}</td>
                            <td>{{ booking.return_date.strftime('%Y-%m-%d') if booking.return_date else '' }}</td>
                            <td>{{ booking.borrower_email }}</td>
                            <td>{{ booking.status }}</td>
                            {% if current_user.is_admin %}
                                <td>
                                {% if booking.status == 'booked' and current_user.is_admin %}
                                    | <a href="{{ url_for('lend_item', booking_id=booking.id) }}">Mark as Lent</a>
                                    | <a href="javascript:void(0);" onclick="showDenyModal({{booking.id}})" >Deny  Booking</a>
                                {% elif booking.status == 'booked' and current_user.is_authenticated == False %}
                                     <p>Booked</p>
                                {% elif booking.status == 'lent' and current_user.is_admin %}
                                    | <a href="{{ url_for('return_item', booking_id=booking.id) }}">Mark as Returned</a>
                                {% endif %}
                                </td>
                            {% endif %}
                        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!--  FullCalendar  -->
            <div class="my-4">
              <div id="calendar"></div>
            </div>
            
    </div>

    {% from 'macros.html' import book_modal, deny_modal %}

    {{ book_modal('1', 'Book Item', False, item, 'bookingModal', 'booking_form') }}


    {{ book_modal('2', 'Add to Cart', True, item, 'cartModal', 'cart_form') }}

    {{ deny_modal('1', 'Deny Booking','denyModal', 'deny_form') }}

    <!-- CUSTOM MODAL JS -->
    <script 
    id  = "item_detail_modals_script" 
    src = "{{ url_for('custom_static', filename='js/item_detail_modals.js') }}" 
    data-disabled_dates= "{{ booked_dates }}"
    data-item_for_cart = '{{ item_for_cart|tojson }}'
    data-action_cart   = "{{ url_for('book_cart',item_id=item.id) }}"
    data-action_book   = "{{ url_for('book'     ,item_id=item.id) }}">
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
      if (document.getElementById('calendar')) {
        setupCalendar({{ booking_dates | tojson | safe }});
      }
    });

    $(document).ready(function() {

        initDatePickers();

        $('#bookingTable').dataTable({
                responsive:true,
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                pagingType: $(window).width() < 768 ? 'simple' : 'simple_numbers',
                language: {
                    paginate: {
                        previous: "&lt;",
                        next: "&gt;"
                    },
                    emptyTable: "No bookings for this item."
                }
            });

        var cart_button = document.getElementById("add_to_cart");
        cart_button.onclick = function(){
            $('#cartModal').modal('show');
        }
        var cart_button = document.getElementById("booking_button");
        cart_button.onclick = function(){
            $('#bookingModal').modal('show');
        }

        // Load info from the server
        var info            = JSON.parse({{borrower_info |tojson|safe}});
        const booking_form  = document.getElementById('booking_form');
        loadBorrowerInfo(booking_form, info[0])

        // setupCalendar({{ booking_dates | tojson | safe }});

    });

    /**
     * Shows the denaial modal
     * 
     * @param {int} id - the id of the booking instance to deny
     */
    function showDenyModal(id){

        const baseUrl = "{{ url_for('return_item', booking_id=0) }}"; // placeholder with a dummy ID
        const realUrl = baseUrl.replace(/0$/, id);  // replace trailing 0

        document.querySelector('#deny_form').action = realUrl;

        $('#denyModal').modal('show');
    }
    </script>


{% endblock %}