{% extends 'base.html' %}

{% block content %}
<div class="max-w-3xl mx-auto mt-12 px-4 text-zinc-800">
  <h1 class="text-3xl font-bold mb-4">Terms of Use</h1>

  <p class="mb-4">By using the MISC Booking System, you agree to the following terms:</p>

  <ul class="list-disc list-inside mb-4">
    <li>All bookings must be made in advance and are subject to approval.</li>
    <li>Borrowers are responsible for the care and timely return of items.</li>
    <li>Equipment misuse, damage, or loss may result in penalties or suspension.</li>
    <li>Bookings are monitored by the system administrator for misuse or overuse.</li>
    <li>Use of this platform implies acceptance of these terms.</li>
  </ul>

  <hr>

  <p>
    For feedback and questions, contact <a href="mailto:misc@lmta" class="text-blue-600 hover:underline">misc@lmta.lt</a>
  </p>
  <p>
    Bug reports <a href="https://github.com/iorobertob/booking/issues">here.<a>
  </p>
</div>

{% endblock %}